<h1>Hi, <%= @user %>!</h1>

<p>
  Notification from Giga Cypher Systems, <br>
  The following product, <%= @product.name %>, is low in stock. There are only <%= @product.quantity %> left.
</p>

<p>Best regards,</p>
<p>Giga Cypher Systems</p>
